<html>
    <head>
        <meta charset="utf-8">
            
            <title>Add details</title>
            <!-- Tell the browser to be responsive to screen width -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
          
            <!-- Font Awesome -->
            <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
            <!-- Theme style -->
            <link rel="stylesheet" href="dist/css/adminlte.min.css">
            <!-- Google Font: Source Sans Pro -->
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <style>
            h1
            {
                text-align: center;
            }
        </style>
    </head>
    <body class="c10">
        
        <h1>Add item details</h1>

        <form  action="/adddata" method="POST">
            <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Add New Product</h3>
                </div>
                <div class="card-body">
                  <div class="input-group mb-3">
                    Product Id: <input type="text" class="form-control" placeholder="Product ID" name="Product_ID">
                  </div>
                    <br>
                  <div class="input-group mb-3">
                    Category: <input type="text" class="form-control" placeholder="Category" name="Category">
                  </div>
                      <br>
                  <div class="input-group mb-3">
                    Size: <input type="text" class="form-control" placeholder="Enter size" name="Size">
                  </div>
          <br>
                  <div class="input-group">
                    Stock: <input type="text" class="form-control" placeholder="Quantity" name="Stock">
                  </div>
                  <br>
                  <div class="input-group mb-3">
                    Price: <input type="text" class="form-control" placeholder="Price" name="Price">
                    <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                    </div>
                  </div>
                  <!-- /input-group -->
                </div>
                <!-- /.card-body -->
             </div>
              <!-- /.card -->
             <input type="submit">
        </form>
        
    </body>
</html>